.App {
  width:fit-content;
  max-width: 50%;
  text-align: center;
  border: 3px solid grey;
  border-radius: 20px;
  margin: 0 auto;
  padding:15px;
  background-color: white;
}

button{
  border-radius: 10px;
  border:2px solid white;
  padding:5px;
  margin:3px;
  font-weight: 700;
  cursor: pointer;
}

button:hover{
  border: 2px solid rgba(182, 24, 24, 0.5);
  box-shadow: 0 0 6px rgba(182, 24, 24);
}
.add-button{
  background-color: rgba(160, 228, 133, 0.5);
}
.edit-button, .change-button{
  background-color: rgb(243, 233, 131, 0.5);
}
.delete-button{ 
  background-color: rgb(232, 123, 123, 0.5);
}

input{
  font-weight: 700;
  border-radius: 10px;
  padding:5px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:10px;
  padding:5px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  font-weight: 700;
  overflow-x:auto;
  
}

li:hover{
  border: 2px solid rgba(182, 24, 24, 0.5);
  box-shadow: 0 0 3px rgb(206, 29, 29);
}

.buttons{
  display:inline;
  margin: 0 5px;
}
